:root {
  --primary-color: #3c3c3d;
  --secondary-color: #e9efed;
  --heading-font: "Merriweather Sans", sans-serif;
  --default-font: "Merriweather", serif;
}

body {
  background: var(--secondary-color);
  font-family: var(--default-font);
}

h1 {
  font-family: var(--heading-font);
  font-size: 96px;
}

h2 {
  font-family: var(--heading-font);
  font-size: 26px;
  font-weight: lighter;
  line-height: 1.5;
}

h3 {
  font-size: 20px;
  opacity: 70%;
}

h4 {
  color: var(--primary-color);
  font-family: var(--heading-font);
  font-size: 64px;
}

p {
  color: var(--primary-color);
  font-size: 32px;
  text-align: justify;
}

img {
  margin: 0 auto;
}

.projects-preview h4 {
  padding: 50px 30px;
  text-align: center;
}

.hero {
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 200px 160px 300px 160px;
}

.projects-preview {
  margin: 70px 160px;
}

.row {
  margin: 50px 0;
}

.button-branding {
  background: var(--primary-color);
  color: var(--secondary-color);
  padding: 20px 25px;
  margin: 30px 0;
}

@media (max-width: 900px) {
  h1 {
    font-size: 75px;
  }

  h2 {
    font-size: 18px;
  }

  h4 {
    font-size: 42px;
  }

  p {
    font-size: 20px;
  }

  .hero {
    text-align: center;
    padding: 70px 0;
  }

  .projects-preview {
    margin: 0;
  }
}
