:root {
  --secondary-color: rgba(37, 37, 38, 0.4);
  --primary-color: rgb(245, 245, 245);
  --hover-color: rgb(59, 18, 59);
  --background-color: #4b4b4b;
  --heading-font: "Merriweather", serif;
  --default-font: "Merriweather Sans", sans-serif;
}

body {
  font-family: var(--default-font);
}

.background {
  padding-bottom: 50px;
  background-color: var(--background-color);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23bdb7be'/%3E%3Cstop offset='1' stop-color='%23bdb7be' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23916b8d'/%3E%3Cstop offset='1' stop-color='%23916b8d' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23dec2dd'/%3E%3Cstop offset='1' stop-color='%23dec2dd' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23555555'/%3E%3Cstop offset='1' stop-color='%23555555' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FDF4FF'/%3E%3Cstop offset='1' stop-color='%23FDF4FF' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23BB7EB5'/%3E%3Cstop offset='1' stop-color='%23BB7EB5' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  font-family: var(--heading-font);
  font-size: 96px;
}

.hero-subpage h1 {
  font-family: var(--heading-font);
  font-size: 50px;
}

h2 {
  font-size: 22px;
  font-weight: lighter;
  line-height: 1.5;
}

.hero-subpage h2 {
  font-size: 18px;
  opacity: 80%;
}

h3 {
  color: var(--primary-color);
  font-family: var(--heading-font);
  font-size: 20px;
  opacity: 70%;
}

.about-content h3 {
  margin: 70px 0 50px 0;
}

h4 {
  color: var(--primary-color);
  font-family: var(--heading-font);
  font-size: 52px;
  font-weight: bolder;
  margin-bottom: 20px;
}

p {
  color: var(--primary-color);
  font-size: 22px;
  line-height: 1.5;
  text-align: justify;
}

.hero-subpage p {
  color: var(--primary-color);
  font-size: 16px;
  line-height: 1.7;
  padding-top: 30px;
}

img {
  margin: 0 auto;
}

.navigation-bar {
  background: var(--secondary-color);
  padding: 10px 30px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  margin: 0 15px;
}

nav li a {
  color: var(--primary-color);
  font-size: 18px;
  text-decoration: none;
  transition: all 180ms ease-in-out;
}

.active,
nav li a:hover {
  color: var(--hover-color);
}

.logo {
  max-width: 200px;
  float: left;
  margin: 0 15px;
}

.hero {
  padding: 150px 160px 70px 160px;
}

.hero-subpage {
  padding: 120px 160px 100px 160px;
}

.hero,
.hero-subpage {
  background: var(--secondary-color);
  color: var(--primary-color);
}

.projects-preview {
  margin: 70px 160px;
}

.homepage-content {
  background: var(--secondary-color);
  border-radius: 5px;
  padding: 40px;
  margin: 50px 0;
}

.contact-content {
  padding-bottom: 160px;
}

.contact-info {
  font-size: 22px;
  margin: 40px 0;
  line-height: 40px;
}

.contact-info li {
  list-style: none;
}

.social-media-link {
  padding-bottom: 20px;
}

.contact-info li a {
  color: rgba(37, 37, 38, 0.7);
  text-decoration: none;
  transition: all 230ms ease-in-out;
}

.contact-info li a:hover {
  color: rgba(37, 37, 38, 1);
}

.about-content {
  padding-bottom: 70px;
}

.button-branding {
  background: rgba(60, 14, 62, 0.4);
  color: var(--primary-color);
  padding: 20px 40px;
  margin: 50px 0;
  transition: all 200ms ease-in-out;
}

.button-branding:hover {
  color: var(--primary-color);
  background: rgba(53, 53, 53, 0.2);
  border: 1px solid #e3e7e5;
}

@media (max-width: 900px) {
  h1 {
    font-size: 48px !important;
  }

  h2 {
    font-size: 18px;
  }

  .hero-subpage h2 {
    margin-bottom: 20px;
  }

  h4 {
    font-size: 42px;
    text-align: center;
    margin-bottom: 20px;
  }

  p {
    font-size: 20px;
  }

  .hero-subpage p {
    margin-bottom: 50px;
    text-align: justify;
  }

  .navigation-bar {
    font-size: 12px;
    padding: 10px 10px;
  }

  .hero,
  .hero-subpage {
    text-align: center;
    padding: 70px 15px 30px;
  }

  .projects-preview {
    margin: 0;
    text-align: center;
  }

  .projects-preview .button-branding {
    margin-bottom: 20px;
  }

  .hero-subpage .button-branding {
    display: block;
    margin: 30px 50px !important;
  }

  .background {
    padding-bottom: 10px;
  }

  .contact-content {
    padding-bottom: 160px;
  }
}

@media (max-width: 1024px) {
  .hero-subpage {
    text-align: center;
  }

  .projects-preview {
    margin: 10px;
  }
}
